@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  
  --color-purple-primary: #8b5cf6;
  --color-purple-secondary: #9333ea;
  
  --color-bg-light: #fafafa;
  --color-bg-dark: #09090b;
  
  --color-fg-light: #171717;
  --color-fg-dark: #f4f4f5;

  --animate-infinite-scroll: infinite-scroll 45s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  :root {
    --background: var(--color-bg-light);
    --foreground: var(--color-fg-light);
  }

  .dark {
    --background: var(--color-bg-dark);
    --foreground: var(--color-fg-dark);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply transition-colors duration-300;
  }
}
